<div class="header-menu">
  <div class="container-fluid">
    <div class="header-navbar-menu">
      <div class="navbar-mainmenu">
        <div id="nav">
          <nav class="main-nav text-center">
            <ul class="clearfix">
              <li><a href="#" title="Trang chủ">Trang chủ</a></li>
              <li><a href="#" title="Collector">Collector</a></li>
              <li>
                <a href="#" title="Playstation"
                  >Playstation <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="#" title="Playstation 5"
                      >Playstation 5
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <ul class="sub-menu">
                      <li><a href="#" title="Máy PS5">Máy PS5</a></li>
                      <li><a href="#" title="Game PS5">Game PS5</a></li>
                      <li><a href="#" title="Phụ kiện PS5">Phụ kiện PS5</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" title="Playstation 4"
                      >Playstation 4
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <ul class="sub-menu">
                      <li><a href="#" title="Máy PS4">Máy PS4</a></li>
                      <li><a href="#" title="Game PS4">Game PS4</a></li>
                      <li><a href="#" title="Phụ kiện PS4">Phụ kiện PS4</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" title="Nintendo Switch"
                  >Nintendo Switch <i class="fas fa-chevron-down"></i
                ></a>
                <ul class="sub-menu">
                  <li><a href="#" title="Máy Switch">Máy Switch</a></li>
                  <li><a href="#" title="Game Switch">Game Switch</a></li>
                  <li>
                    <a href="#" title="Phụ kiện Switch">Phụ kiện Switch</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" title="Xbox One"
                  >Xbox One <i class="fas fa-chevron-down"></i
                ></a>
                <ul class="sub-menu">
                  <li><a href="#" title="Game Xbox One">Game Xbox One</a></li>
                  <li><a href="#" title="Máy Xbox One">Máy Xbox One</a></li>
                  <li>
                    <a href="#" title="Phụ kiện Xbox One">Phụ kiện Xbox One</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" title="PS Vita"
                  >PS Vita <i class="fas fa-chevron-down"></i
                ></a>
                <ul class="sub-menu">
                  <li><a href="#" title="Game PS Vita">Game PS Vita</a></li>
                  <li><a href="#" title="Máy PS Vita">Máy PS Vita</a></li>
                  <li>
                    <a href="#" title="Phụ kiện PS Vita">Phụ kiện PS Vita</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" title="3DS"
                  >3DS <i class="fas fa-chevron-down"></i
                ></a>
                <ul class="sub-menu">
                  <li><a href="#" title="Game 3DS">Game 3DS</a></li>
                  <li><a href="#" title="Máy 3DS">Máy 3DS</a></li>
                  <li><a href="#" title="Phụ kiện 3DS">Phụ kiện 3DS</a></li>
                </ul>
              </li>
              <li>
                <a href="#" title="Tin tức"
                  >Tin Tức <i class="fas fa-chevron-down"></i
                ></a>
                <ul class="sub-menu">
                  <li><a href="#" title="Tin Game">Tin Game</a></li>
                  <li>
                    <a href="#" title="Chia sẻ thủ thuật">Chia sẻ thủ thuật</a>
                  </li>
                  <li><a href="#" title="Khuyến mãi">Khuyến mãi</a></li>
                </ul>
              </li>
              <li>
                <a href="#" title="Khác"
                  >Khác <i class="fas fa-chevron-down"></i
                ></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#" title="Xbox 360"
                      >Xbox 360
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <ul class="sub-menu">
                      <li>
                        <a href="#" title="Game Xbox 360">Game Xbox 360</a>
                      </li>
                      <li>
                        <a href="#" title="Game X360 (Gốc)">Game X360 (Gốc)</a>
                      </li>
                      <li><a href="#" title="Máy Xbox 360">Máy Xbox 360</a></li>
                      <li>
                        <a href="#" title="Phụ kiện Xbox 360"
                          >Phụ kiện Xbox 360</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" title="PS3"
                      >PS3
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <ul class="sub-menu">
                      <li><a href="#" title="Game PS3 Mới">Game PS3 Mới</a></li>
                      <li><a href="#" title="Game PS3">Game PS3</a></li>
                      <li><a href="#" title="Máy PS3">Máy PS3</a></li>
                      <li><a href="#" title="Phụ kiện PS3">Phụ kiện PS3</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" title="Wii U"
                      >Wii U
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <ul class="sub-menu">
                      <li><a href="#" title="Game Wii U">Game Wii U</a></li>
                      <li><a href="#" title="Máy Wii U">Máy Wii U</a></li>
                      <li>
                        <a href="#" title="Phụ kiện Wii U">Phụ kiện Wii U</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" title="Wii"
                      >Wii
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <ul class="sub-menu">
                      <li><a href="#" title="Game Wii Mới">Game Wii Mới</a></li>
                      <li><a href="#" title="Game Wii">Game Wii</a></li>
                      <li><a href="#" title="Máy Wii">Máy Wii</a></li>
                      <li><a href="#" title="Phụ kiện Wii">Phụ kiện Wii</a></li>
                    </ul>
                  </li>
                  <li><a href="#" title="2DS">2DS</a></li>
                  <li>
                    <a href="#" title="DS"
                      >DS
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <ul class="sub-menu">
                      <li><a href="#" title="Game DS">Game DS</a></li>
                      <li><a href="#" title="Máy DS">Máy DS</a></li>
                      <li><a href="#" title="Phụ kiện DS">Phụ kiện DS</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" title="PSP"
                      >PSP
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <ul class="sub-menu">
                      <li><a href="#" title="Game PSP">Game PSP</a></li>
                      <li><a href="#" title="Máy PSP">Máy PSP</a></li>
                      <li><a href="#" title="Phụ kiện PSP">Phụ kiện PSP</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" title="PS2"
                      >PS2
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <ul class="sub-menu">
                      <li><a href="#" title="Game PS2 Mới">Game PS2 Mới</a></li>
                      <li><a href="#" title="Game PS2">Game PS2</a></li>
                      <li><a href="#" title="Phụ kiện PS2">Phụ kiện PS2</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" title="Nintendo Classic">Nintendo Classic</a>
                  </li>
                  <li><a href="#" title="PC Gaming">PC Gaming</a></li>
                </ul>
              </li>
              <li><a href="#" title="Liên hệ">Liên hệ</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
