<div class="main-footer collapse" id="fter-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="footer-col footer-content1">
          <h4 class="footer-title">Giới thiệu</h4>
          <div class="footer-content">
            <p>
              Mimi Game Shop Mimigame là nơi cung cấp đầy đủ các sản phẩm game
              Playstation, Xbox, Nintendo..., game mới cập nhật mỗi ngày.
            </p>
            <div class="logo-footer">
              <a href="#" target="_blank" rel="nofollow moreferrer">
                <img
                  src="../../assets/img/logo_bct_019590229b4c4dfda690236b67f7aff4.png"
                  alt="Bộ Công Thương"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="footer-col footer-block">
          <h4 class="footer-title">Liên kết</h4>
        </div>
        <div class="footer-content toggle-footer">
          <ul>
            <li class="item">
              <a href="#" title="Chính sách & Quy định chung"
                >Chính sách & Quy định chung</a
              >
            </li>
            <li class="item">
              <a href="#" title="Chính sách vận chuyển, giao hàng"
                >Chính sách vận chuyển, giao hàng</a
              >
            </li>
            <li class="item">
              <a href="#" title="Chính sách bảo hành">Chính sách bảo hành</a>
            </li>
            <li class="item">
              <a href="#" title="Chính sách đổi trả hàng và hoàn tiền"
                >Chính sách đổi trả hàng và hoàn tiền</a
              >
            </li>
            <li class="item">
              <a href="#" title="Chính sách bảo mật thông tin"
                >Chính sách bảo mật thông tin</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="footer-col">
          <h4 class="footer-title">Thông tin liên hệ</h4>
          <div class="footer-content footer-contact">
            <ul>
              <li class="contact-1">
                13 Lý Chính Thắng, phường 8, quận 3, Tp. Hồ Chí Minh.
              </li>
              <li class="contact-2">0902 891 881 - 0933 385 355</li>
              <li class="contact-3"></li>
              <li class="contact-4">mail.mimigame@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="footer-col">
          <h4 class="footer-title">Fanpage</h4>
          <div class="footer-content footer-contact"></div>
        </div>
      </div>
    </div>
  </div>
</div>
