<div class="top-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="area-newsletter">
          <div class="title-newsletter">
            <h4>Đăng kí nhận tin</h4>
          </div>
          <div class="form-newsletter form-newsletter-customer">
            <form
              action="/account/contact"
              class="contact-form"
              method="POST"
              accept-charset="UTF-8"
            >
              <div class="input-group">
                <input
                  type="email"
                  id="newsletter-email"
                  placeholder="Nhập email của bạn"
                  name="contact[email]"
                />
                <button type="submit" class="button dark">Đăng kí</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="area-phone-contact">
          <p class="number-phone">
            <i class="fas fa-phone"></i>
            <span>Hỗ trợ / Mua hàng:</span>
            <a href="#">0902 891 881</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
